{% extends 'base.html.twig' %}

{% block title %}
    Genus {{ name }}
{% endblock %}


{% block body %}

    <h1>The genus: {{ name }}!</h1>

    <div>
        <ul>
            {% for note in notes %}
                <li>{{ note }}</li>
            {% endfor %}
        </ul>

    </div>

{% endblock %}
